.location {
    margin-bottom: 40px;
    .breadcrumb {
        .breadcrumb-item {

            // font-family: HelveticaNeueCyr;
            a {
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                // opacity: 0.6;
                color: #B5B5B5;

            }

            &.active {
                color: #FE3A19;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            &::before {
                content: "|";
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                // opacity: 0.6;
                color: #B5B5B5;
            }

            &:first-child {
                &::before {
                    content: "";
                }
            }

        }
    }
}