.nav-mobile {
  display: none;
}

@media (max-width: 376px), (max-width: 750px) {
  .nav-mobile {
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    bottom: 0;
    height: 80px;
    width: 100%;
  }

  .btn-nav {
    background-color: rgb(0, 0, 0);
  }
  .store {
    color: #fff;
  }

}