.mobile_catalog {
  max-height: 700px;
}

.catalog_title{
  margin-top: 40px;
  padding: 20px;
}

.mobile_catalog .accordion {
display: flex;
flex-direction: column;
gap: 30px;
box-shadow: none;
overflow: auto;
}

.mobile_catalog .accordion .accordion-item .accordion-header .accordion-button.collapsed  {
color: #666;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
text-decoration-line: underline;
height: 34px;
}

/* .mobile_catalog .accordion .accordion-item .accordion-header .accordion-button {
  color: #FE3A19;
  font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
text-decoration-line: underline;
height: 34px;
} */

.mobile_catalog .accordion .accordion-item .accordion-header .accordion-button {
  color: #fe3a19;
font-size: 18px;
font-style: normal;
font-weight: 460;
line-height: 24px;
text-decoration-line: underline;
height: 34px;
}