.modal-heart{
  z-index: 1999;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow-y: scroll; */
  
  
}

.modal-heart-body h1 {
  overflow: hidden;
  font-size: 32px;
  margin-left: 20px;
}

.modal-heart-body h4 {
  color: #666;
font-family: HelveticaNeueCyr;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin: 20px;
}

.modal-heart-content {
  width: 375px;
  height: 630px;
  background-color: #fff;
  bottom: 50px;
  right: 230px;
  border: none;
  border-radius: 0;
  overflow: auto;
  scroll-behavior: auto;

}



.modal-heart-body {
  font-size: 18px;
  padding: 10px 0px 0px 0px;

}

.modal-heart-body .close-button {
  display: none;}

@media (max-width: 376px), (max-width: 750px) {
.modal-heart-body .close-button {
  display: block;
  width: 335px;
  height: 48px;
  margin: 0px 20px 20px 20px;
  border: none;
  border-radius: 1px;
  color: #fff;
  background-color: #000000;
}
}



